</main>
<div class="cover-links">
    <p>Book Cover Images using ISBN from :<a href="https://openlibrary.org/dev/docs/api/covers">https://openlibrary.org/dev/docs/api/covers</a></p>
</div>
<footer>Copyright © <%= new Date().getFullYear() %>
</footer>
</body>

</html>