<%- include('partials/header.ejs'); -%>


<div class="about-container">
    <h1>About BookMind Archive</h1>
    <p>Welcome to BookMind Archive, your personal space for keeping track of books you've read. This platform allows you to create notes, rate books, and organize your reading history. Stay organized and never forget the details of your literary journey!</p>
</div>

<%- include('partials/footer.ejs'); -%>
