<%- include('partials/header.ejs'); -%>


<div class="contact-container">
    <h1>Contact Us</h1>
    <p>If you have any questions, feedback, or concerns, feel free to reach out to us. We value your input and are here to assist you!</p>
    <p class="email">Email: <a href="mailto: mailtomrmatrix@gmail.com">mailtomrmatrix@gmail.com</a></p>
    <p class="twitter">
        <a href="https://twitter.com/MrMatrix0509" target="_blank">Follow us on Twitter</a>
    </p>
</div>


<%- include('partials/footer.ejs'); -%>
